*{
    background: rgb(17 24 39);
    font-family: "Calisto MT", serif;
    color: lightgray;
}


.center{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.bottom{
    position: absolute;
    left: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

}

button{

    color: white;
    padding: 15px;
    border: 1px solid gray;
    background-color: darkred;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px #999;
    margin-bottom: 5px  ;
}
button:hover{
    background-color: red;
    color: white;

}
button:active{
    background-color: #3e8e41;
    box-shadow: 0 1px #666;
    transform: translateY(4px);

}
h1{
    color: white;
}

h2{
    color: gold;
}

h4{
    color:dodgerblue;

}